@color_background        : rgba(253, 253, 240, 1); // <body /> background
@color_background_light    : rgba(238, 238, 238, 1);
@color_background_ultra_mega_light    : rgba(247, 247, 247, 1);

@color_border              : rgba(208, 208, 208, 1);

@color_branding            : rgba(0, 113, 188, 1);
@color_branding_dark       : rgba(0, 97, 176, 1);
@color_branding_neutral    : rgba(18, 154, 219, 1);
@color_branding_dropshadow : rgba(55, 55, 55, 0.5);

@color_neutral             : rgba(255, 255, 255, 1);
// neutral colour

@color_text_lighter        : rgba(208, 208, 208, 1);
@color_text_light          : rgba(163, 163, 163, 1);
// text
@color_text                : rgba(118, 118, 118, 1);
@color_text_dark           : rgba(67, 67, 67, 1);
@color_text_dark           : rgba(67, 67, 67, 1);

@color_highlight           : rgba(128, 128, 128, 1);
// used to highlight items, like words in text, etc
@color_highlight_invert    : rgba(128, 128, 128, 1);

@color_link                : rgba(0, 113, 188, 1);
// link
@color_link_invert         : rgba(128, 128, 128, 1);

@color_active              : rgba(128, 128, 128, 1);
// link:active
@color_active_invert       : rgba(128, 128, 128, 1);

@color_hover               : rgba(128, 128, 128, 1);
// link:hover
@color_hover_invert        : rgba(128, 128, 128, 1);

@color_important           : rgba(128, 128, 128, 1);

@color_button              : @color_link;
// buttons can be different to links, this is just an example
@color_button_bg           : @color_link_invert;
@color_button_active       : @color_active;
@color_button_hover        : @color_hover;

@color_invalid             : rgba(128, 128, 128, 1);
// used by data capture items, e.g. form fields
@color_valid               : rgba(128, 128, 128, 1);

@color_disabled            : rgba(128, 128, 128, 1);
@color_disabled_invert     : rgba(128, 128, 128, 1);

@color_readonly            : rgba(128, 128, 128, 1);
@color_readonly_invert     : rgba(128, 128, 128, 1);

@color_spcrm_radio         : rgba(94, 178, 104, 1);
// colours associated with data visualisations,
@color_spcrm_micro         : rgba(177, 178, 57, 1);
// starts with most energy efficient
@color_spcrm_infrared      : rgba(227, 179, 29, 1);
@color_spcrm_visible       : rgba(245, 179, 19, 1);
@color_spcrm_ultraviolet   : rgba(235, 121, 42, 1);
@color_spcrm_xray          : rgba(229, 86, 55, 1);
@color_spcrm_gamma         : rgba(227, 74, 60, 1);
// ends with least energy efficient

@color_flag_tip            : rgba(87, 87, 87, 1);

@color_bar_chart           : rgba(141, 198, 63, 0.75);
@color_bar_chart_hover     : rgba(141, 198, 63, 1);
@color_bar_chart_empty     : rgba(208, 208, 208, .75);
@color_bar_chart_empty_stroke : rgba(208, 208, 208, 1);
