@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(http://themes.googleusercontent.com/static/fonts/exo/v2/ZcGd2dvMSgl3mHN3lKAjNw.woff) format('woff');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  src: local('Exo Light'), local('Exo-Light'), url(http://themes.googleusercontent.com/static/fonts/exo/v2/q_s1igR8FunFvLlUJksouQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJfR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font_default: 'Roboto Slab', serif;
@font_title: "Exo", "arial", "sans-serif";
@font_icon: "fontello";

@font_weight_light: 300;
@font_weight_normal: 400;

@font_size_default: @x2-00gru;
@font_size_tiny: @x1-50gru - 1;

@font_size_title_1: @x3-75gru;
@font_size_title_2: @x2-50gru;
@font_size_title_3: @x1-50gru;

@line_height_compact: @x1-50gru;
@line_height_default: @x1-75gru;
@line_height_double: @x3-00gru;
