<div data-sp-component-type="about">
  <header>
    <h1 class="sp-section-title">About</h1>
  </header>

  <div class="sp-section-block">
    <p class="sp-section-text">
      Located in Brixton, South London, our practice was set up in 2012 by Sarah Hackney.
    </p>
    <p class="sp-section-text">
      We undertake high quality residential architecture and interior design, with a mindful attitude to sustainable design.
    </p>
    <p class="sp-section-text">
      Our range of work can involve anything from a whole house approach, to extensions, loft conversions, kitchens, bathrooms or even eco-retrofitting.
    </p>
  </div>

  <div class="sp-section-block">
    <p class="sp-section-text">
      Within this framework we offer feasibility studies, planning and listed building applications, building control submissions, interior fit-outs as required, or can offer them as stand alone services if preferred.
    </p>
  </div>

</div>
