<nav data-sp-component-type="nav" class="sp-nav">
  <li class="sp-nav-item"><a href="/design" data-sp-content="locale:design" class="sp-nav-link">Design</a></li>
  <li class="sp-nav-item"><a href="/planning" data-sp-content="locale:planning" class="sp-nav-link">Planning</a></li>
  <li class="sp-nav-item"><a href="/build" data-sp-content="locale:build" class="sp-nav-link">Build</a></li>
  <li class="sp-nav-item"><a href="/about" data-sp-content="locale:about" class="sp-nav-link">About</a></li>
  <!-- <li><a href="/blog" data-sp-content="locale:blog"></a></li> -->
  <li class="sp-nav-item"><a href="/contact" data-sp-content="locale:contact" class="sp-nav-link">Contact</a></li>
</nav>
