.sp-body {

  background-color: @color_background;

  border: none;
  display: block;
  min-height: 100%;
  margin: 0 auto;
  max-width: @x1-00gru * 131;
  overflow: hidden;
}


@media @mq_desktop {

  .sp-body {

    border-left: 1px solid @color_border_light;
    border-right: 1px solid @color_border_light;

  }

}
