.sp-body {

  .base-component;

  border: 1px solid @color_border_light;
  border-bottom: 0;
  border-top: 0;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: @x1-00gru * 128;
  overflow: hidden;
}
