@sp-footer-horizontal: @x6-00gru;
@sp-footer-vertical: @x6-00gru * 5;

.sp-footer {

  background-color: @color_background;
  border-top: 1px solid @color_border_light;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media @mq_mobile_landscape, @mq_mobile_portrait {

  .sp-footer {

    height: @sp-footer-vertical;

    & .sp-nav-link {
      border-bottom: 1px solid @color_border_light;
      .x-padding;
    }

  }

}

@media @mq_tablet_landscape, @mq_tablet_portrait, @mq_desktop {

  .sp-footer {

    height: @sp-footer-horizontal;
    .x-padding(3);

    & .sp-nav-item {
      float: left;
    }

    & .sp-nav-link {
      font-size: @x1-50gru;
      width: auto;
      border-bottom: none;
      line-height: 1.4;
    }

  }


}
