.sp-header {
  display: block;

  > h1 {

    font-family: @font_title;
    font-weight: @font_weight_light;
    font-size: @font_size_title_1;
  }
  > h2 {

    font-weight: @font_weight_light;
    font-size: @font_size_default;
  }

}
