@sp-header-height: @x8-00gru;

.sp-header {


  // border-bottom: 1px solid @color_border_light;
  display: block;
  height: @sp-header-height;

  .x-padding;
  .y-padding;

}

.sp-header-company {

  color: @color_text_dark;
  .title-font(@font_size_title_1);

}

.sp-header-strapline {

  color: @color_text_light;

  .title-font(@font_size_tiny);
  font-family: @font_default;

  letter-spacing: @x0-50gru - 0.75;
  left: @x0-25gru;
  position: relative;
  top: -@x0-50gru + 1;
  word-spacing: @x1-50gru + 2;

  > span {
    letter-spacing: @x0-50gru + 1.2;
  }
}


@media @mq_tablet_landscape, @mq_tablet_portrait, @mq_desktop {

  .sp-header {

    .x-padding(4);

  }

}
