@media @mq_tablet_landscape, @mq_tablet_portrait, @mq_desktop {

  .sp-icon-menu {
    display:none;
  }

  .sp-menu {

    z-index: 1000;
    overflow: hidden;
    position: relative;
    top: -@x5-75gru;
    margin-left: @x1-00gru * 29;

    & .sp-nav-item {
      display: inline-block;

      &:last-child {
        position: absolute;
        right: -@x1-00gru - 2;
      }

      &:nth-last-child(2) {
        position: absolute;
        right: (@x1-00gru * 10) + 2;
      }

    }

    & .sp-nav-link {

      .title-font();
      color: @color_text_light;
      border-bottom: none;
      display: inline-block;
      .y-padding(2);

    }

  }

}

@media @mq_mobile_landscape, @mq_mobile_portrait {

  .sp-icon-menu {

    display:inline-block;

    background-color: transparent;
    border: none;
    outline: none;
    font-size: @x3-00gru;
    position: absolute;
    right: @x1-50gru;
    top: @x2-75gru - 1;

    &:before {
      color: @color_text;
    }

  }

  .sp-menu {

    top: @x8-00gru;
    left: 100%;
    position: absolute;
    z-index: 1000;
    height: 0;
    width: 0;
    overflow: hidden;

    &.sp-active {
      height: @x1-00gru * 80;
      width:  @x1-00gru * 80;
    }

    &.sp-transition-to-inactive {
      left: 100%;
      .transition(left 0.3s ease);
    }
    &.sp-transition-to-active {
      left: 0;
      .transition(left 0.3s ease);
    }

    &> .sp-nav {

      background-color: rgba(0, 0, 0, 0.9);
      border-top: 1px solid @color_border_light;
      height: 640px;
      width: 640px;
    }

    & .sp-nav-link {

      color: @color_link_invert;
      border-bottom: 1px solid rgba(51, 51, 51, 0.8);
      display: inline-block;
      width: 100%;

      .x-padding;
      .y-padding;
    }


  }

}



