.sp-nav {
  font-family: @font_title;
}

.sp-nav-link {

  font-family: inherit;
  text-decoration: none;

  color: @color_link_invert;
  border-bottom: 1px solid rgba(51, 51, 51, 0.8);
  display: inline-block;
  padding: @x2-00gru @x3-00gru;
  width: 100%;

}
